* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  overflow: hidden;
}

.tree-container {
  max-width: 800px;
  max-height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.tree {
  width: 615px;
  height: 982px;
  position: relative;
  background-image: url('imagenes/arbol.png');
  background-size: cover;
  transform: scale(0.5);
}

.star {
  position: absolute;
  width: 72px;
  height: 70px;
  top: 7%;
  left: 44%;
  background-image: url(imagenes/estrella-roja.png);
  background-size: cover;
}

.ball {
  position: absolute;
  width: 30px;
  height: 30px; 
  background-image: url(imagenes/bola.png);
  background-size: cover; 
  display: inline-block;
  filter: drop-shadow(1px 1px 1px red);
  animation: tintilar 20s linear infinite;
  cursor: pointer;
  z-index: 4;
}

@keyframes tintilar {
  0% {
    transform: rotate(0deg);
    transform-origin: top;
    filter: drop-shadow(0 0 5px red)
            drop-shadow(0 0 30px red);            
  }
  0.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  0.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  1% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  3% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  3.5% {
    transform: rotate(0deg);
    transform-origin: top;            
  }
  
}  


#ball1 {
  left: 29%;
  bottom: 19%;
}
#ball2 {
  left: 37%;
  bottom: 17%;
}
#ball3 {
  left: 50%;
  bottom: 18%;
}
#ball4 {
  left: 62%;
  bottom: 18%;
}
#ball5 {
  left: 30%;
  bottom: 26%;
}
#ball6 {
  left: 40%;
  bottom: 28%;
}
#ball7 {
  left: 52%;
  bottom: 26%;
}
#ball8 {
  left: 62%;
  bottom: 28%;
}
#ball9 {
  left: 32%;
  bottom: 36%;
}
#ball10 {
  left: 45%;
  bottom: 37%;
}
#ball11 {
  left: 55%;
  bottom: 36%;
}
#ball12 {
  left: 37%;
  bottom: 46%;
}
#ball13 {
  left: 47%;
  bottom: 46%;
}
#ball14 {
  left: 55%;
  bottom: 47%;
}
#ball15 {
  left: 40%;
  bottom: 54%;
}
#ball16 {
  left: 50%;
  bottom: 56%;
}
#ball17 {
  left: 45%;
  bottom: 62%;
}
#ball18 {
  left: 49%;
  bottom: 71%;
}

.card {
  position: absolute;
  width: 50%;
  height: 62%;
  color: white;
  background-color: red;
  background-image: url(imagenes/fondo-tarjeta.jpg);
  background-size: cover;
  border-radius: 20px;
  border: solid 2px #CDA434;
  opacity: 0;
  transform: scale(0);
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0) inset;
  z-index: 5;
}

.card h1 {
  font-family: 'Mountains of Christmas', serif;
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  align-content: center;
  text-shadow: 0 0 5px black;
}

.card p {
  font-family: 'Mountains of Christmas', serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

.tree-container .snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url('imagenes/nieve.png');
  background-size: cover;
  animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100px,50vh);
  }
}


@media only screen and (max-width: 600px) {
  .tree-container {
    transform: scale(1);
  }
  
  .tree {
    transform: scale(0.5);
  }
}