* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  overflow: hidden;
}

.tree-container {
  max-width: 800px;
  max-height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.tree {
  width: 521px;
  height: 730px;
  position: relative;
  background-image: url('imagenes/arbol.svg');
  background-repeat: no-repeat;
  filter: invert(52%) sepia(55%) saturate(549%) hue-rotate(71deg) brightness(84%) contrast(97%);
  transform: scale(.7);
  animation: colores 60s ease-in infinite;
}

@keyframes colores {
  0% {
    filter: invert(52%) sepia(100%) saturate(200%) hue-rotate(0deg) brightness(100%) contrast(100%) drop-shadow(0 0 2px rgb(223, 172, 5)) 
    drop-shadow(0 0 5px rgb(223, 172, 5));
  }
  25% {
    filter: invert(52%) sepia(100%) saturate(200%) hue-rotate(120deg) brightness(100%) contrast(100%) drop-shadow(0 0 2px rgba(30, 230, 236)) 
    drop-shadow(0 0 5px rgba(30, 230, 236));
  }
  50% {
    filter: invert(52%) sepia(100%) saturate(200%) hue-rotate(240deg) brightness(100%) contrast(100%) drop-shadow(0 0 2px rgb(231, 130, 169)) 
    drop-shadow(0 0 5px rgb(231, 130, 169));
  }
  75% {
    filter: invert(52%) sepia(100%) saturate(200%) hue-rotate(360deg) brightness(100%) contrast(100%) drop-shadow(0 0 2px rgb(230, 101, 191)) 
    drop-shadow(0 0 5px rgb(230, 101, 191));
  }
  100% {
    filter: invert(52%) sepia(100%) saturate(200%) hue-rotate(480deg) brightness(100%) contrast(100%) drop-shadow(0 0 2px rgb(151, 238, 70)) 
    drop-shadow(0 0 5px rgb(151, 238, 70));
  }
}



.guirnaldas {
  width: 132.5px;
  height: 198.981px;
  position: absolute;
  top: 87px;
  left: 87px;
  filter: drop-shadow(5px 5px 5px black);
  transform: scale(.7);
}

.star {
  position: absolute;
  width: 72px;
  height: 70px;
  top: 25px;
  left: 222px;
  transform: scale(1.2);
  background-image: url('imagenes/star.svg');
}

.ball {
  position: absolute;
  width: 30px;
  height: 36px; 
  background-image: url('imagenes/campana.svg');
  background-size: cover; 
  display: inline-block;
  filter: drop-shadow(1px 1px 1px red);
  animation: tintilar 20s linear infinite;
  cursor: pointer;
  z-index: 4;
}

.ball:hover {
  filter: invert(53%) sepia(57%) saturate(3223%) hue-rotate(90deg) brightness(103%) contrast(108%);
}

@keyframes tintilar {
  0% {
    transform: rotate(0deg);
    transform-origin: top;
    filter: drop-shadow(0 0 5px red)
            drop-shadow(0 0 30px red);            
  }
  0.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  0.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  1% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  3% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  3.5% {
    transform: rotate(0deg);
    transform-origin: top;            
  }
  
}  


#ball1 {
  left: 18%;
  bottom: 17%;
}
#ball2 {
  left: 32%;
  bottom: 18%;
}
#ball3 {
  left: 58%;
  bottom: 18%;
}
#ball4 {
  left: 72%;
  bottom: 17%;
}
#ball5 {
  left: 25%;
  bottom: 26%;
}
#ball6 {
  left: 40%;
  bottom: 28%;
}
#ball7 {
  left: 52%;
  bottom: 26%;
}
#ball8 {
  left: 66%;
  bottom: 28%;
}
#ball9 {
  left: 31%;
  bottom: 36%;
}
#ball10 {
  left: 50%;
  bottom: 37%;
}
#ball11 {
  left: 64%;
  bottom: 39%;
}
#ball12 {
  left: 37%;
  bottom: 46%;
}
#ball13 {
  left: 50%;
  bottom: 46%;
}
#ball14 {
  left: 58%;
  bottom: 47%;
}
#ball15 {
  left: 40%;
  bottom: 54%;
}
#ball16 {
  left: 53%;
  bottom: 56%;
}
#ball17 {
  left: 50%;
  bottom: 65%;
}
#ball18 {
  left: 49%;
  bottom: 73%;
}

.card {
  position: absolute;
  width: 55%;
  height: 70%;
  color: white;
  background-color: red;
  border-radius: 20px;
  border: solid 5px #CDA434;
  opacity: 0;
  transform: scale(0);
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  cursor: pointer;
  z-index: 5;
}

.card h1 {
  font-family: 'Mountains of Christmas', serif;
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  align-content: center;
}

.card p {
  font-family: 'Mountains of Christmas', serif;
  font-size: 25px;
  font-weight: bold;
}

.tree-container .snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url('imagenes/nieve.png');
  background-size: cover;
  animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100px,50vh);
  }
}


@media only screen and (max-width: 600px) {
  /* .tree-container {
    transform: scale(0.7);
  } */
  
  .tree {
    transform: scale(0.7);
  }

  .guirnaldas {
    transform: scale(0.7);
    top: 88px;
    left: 87px;
  }
}