* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(imagenes/klipartz.com.png), url(imagenes/klipartz.com\ \(1\).png);
  background-size: cover, cover;
  background-position: center, center;
  height: 100vh;
  width: 100%;
  background-color: #222;
  overflow: hidden;
}

.tree-container {
  width: 600px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 

/* .tree-base {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: -8%;
  z-index: 1;
  background-image: url(imagenes/pngwing.com.png);
  background-size: cover;
} */

.tree-container .tree {
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 4rem;
  background-image: url('imagenes/arbol.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.star {
  position: absolute;
  width: 72px;
  height: 70px;
  top: -1%;
  left: 41%;
  background-image: url(imagenes/estrella-roja.png);
  background-size: cover;
}

.container-balls {
  position: relative;
  width: 400px;
  height: 80vh;
}

.ball {
  position: absolute;
  width: 35px;
  height: 35px; 
  background-image: url(imagenes/bola.png);
  background-size: cover; 
  display: inline-block;
  filter: drop-shadow(1px 1px 1px red);
  animation: tintilar 20s linear infinite;
  cursor: pointer;
  z-index: 4;
}

@keyframes tintilar {
  0% {
    transform: rotate(0deg);
    transform-origin: top;
    filter: drop-shadow(0 0 5px red)
            drop-shadow(0 0 30px red);            
  }
  0.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  0.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  1% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  1.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.2% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  2.6% {
    transform: rotate(-7deg);
    transform-origin: top;            
  }
  3% {
    transform: rotate(7deg);
    transform-origin: top;            
  }
  3.5% {
    transform: rotate(0deg);
    transform-origin: top;            
  }
  
}  


#ball1 {
  left: 15%;
  bottom: 8%;
}
#ball2 {
  left: 37%;
  bottom: 9%;
}
#ball3 {
  left: 50%;
  bottom: 8%;
}
#ball4 {
  left: 72%;
  bottom: 8%;
}
#ball5 {
  left: 20%;
  bottom: 22%;
}
#ball6 {
  left: 40%;
  bottom: 24%;
}
#ball7 {
  left: 52%;
  bottom: 24%;
}
#ball8 {
  left: 72%;
  bottom: 21%;
}
#ball9 {
  left: 28%;
  bottom: 36%;
}
#ball10 {
  left: 45%;
  bottom: 37%;
}
#ball11 {
  left: 65%;
  bottom: 35%;
}
#ball12 {
  left: 30%;
  bottom: 48%;
}
#ball13 {
  left: 46%;
  bottom: 50%;
}
#ball14 {
  left: 56%;
  bottom: 50%;
}
#ball15 {
  left: 38%;
  bottom: 60%;
}
#ball16 {
  left: 55%;
  bottom: 60%;
}
#ball17 {
  left: 42%;
  bottom: 71%;
}
#ball18 {
  left: 47%;
  bottom: 78%;
}

.card {
  position: absolute;
  width: 55%;
  height: 62%;
  color: white;
  background-color: red;
  background-image: url(imagenes/fondo-tarjeta.jpg);
  background-size: cover;
  border-radius: 20px;
  border: solid 2px #CDA434;
  opacity: 0;
  transform: scale(0);
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0) inset;
  z-index: 5;
}

.card h1 {
  font-family: 'Mountains of Christmas', serif;
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  align-content: center;
  text-shadow: 0 0 5px black;
}

.card p {
  font-family: 'Mountains of Christmas', serif;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

.tree-container .snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100vh;
  background-image: url('imagenes/nieve.png');
  background-size: cover;
  animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
  0% {
    transform: translate(0,0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(100px,50vh);
  }
}

@media only screen and (max-width: 550px) {
  .card {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  
  .tree-container .container-balls {
    height: 80vh;
    width: 100%;
  }
  .tree-container .ball {
    width: 25px;
    height: 25px;
  }
  .card {
    width: 75%;
  }

}